Mental Wellness AI Chat Workflow.json
{
  "name": "Mental Wellness AI Chat Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mental-wellness-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8df6de95-26fd-4a1d-a55c-76f898cecdec",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1344,
        888
      ],
      "webhookId": "mental-wellness-chat"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a compassionate AI mental wellness companion designed to support users dealing with anxiety, stress, depression, and phobias.\n\nYour role:\n1. Engage users with empathetic, supportive conversation\n2. Help users understand their mental state through thoughtful questions\n3. Assess whether they need Mental Wellness support (anxiety, stress, depression) or Phobia Support\n4. For Mental Wellness: Suggest activities like guided meditation, journaling, mood tracking, therapeutic games, or relaxation exercises\n5. For Phobia Support: Assess severity (mild, moderate, severe) and recommend appropriate next steps\n6. Provide encouragement and motivation throughout the conversation\n7. Track user mood patterns and emotional well-being\n8. Offer coping strategies and mindfulness techniques\n\nGuidelines:\n- Be warm, non-judgmental, and supportive\n- Ask open-ended questions to understand the user's feelings\n- Validate emotions and experiences\n- Suggest specific activities based on user needs\n- Encourage progress tracking and self-reflection\n- For severe cases, recommend professional consultation\n- Maintain a positive, hopeful tone\n\nUser message: {{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a mental wellness AI companion focused on providing emotional support, guided activities, and personalized recommendations for anxiety, stress, depression, and phobia management."
        }
      },
      "id": "d24c20a7-7fdf-4978-839a-1418b66c745d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1056,
        784
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"response\": $json.output,\n  \"timestamp\": $now,\n  \"status\": \"success\"\n} }}",
        "options": {}
      },
      "id": "fffaf40b-e31a-4ea8-ad94-8880669bdeeb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -704,
        888
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1048,
        1008
      ],
      "id": "060451dd-afa1-4306-9917-1307f0b37a4c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "J6g4PsIMFl1Q3TY5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.session_id || \"default_session\"}}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -920,
        1008
      ],
      "id": "11050f35-8b22-42c4-b572-5a25ee8021ca",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi! I'm your mental wellness companion. How are you feeling today?",
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "84431b44-e639-4d57-8d70-b40599599d91",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1408,
        1184
      ],
      "webhookId": "bf6dcd27-07a6-48f3-88df-57891e51c4fe"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a compassionate AI mental wellness companion designed to support users dealing with anxiety, stress, depression, and phobias.\n\nYour role:\n1. Engage users with empathetic, supportive conversation\n2. Help users understand their mental state through thoughtful questions\n3. Assess whether they need Mental Wellness support (anxiety, stress, depression) or Phobia Support\n4. For Mental Wellness: Suggest activities like guided meditation, journaling, mood tracking, therapeutic games, or relaxation exercises\n5. For Phobia Support: Assess severity (mild, moderate, severe) and recommend appropriate next steps\n6. Provide encouragement and motivation throughout the conversation\n7. Track user mood patterns and emotional well-being\n8. Offer coping strategies and mindfulness techniques\n\nGuidelines:\n- Be warm, non-judgmental, and supportive\n- Ask open-ended questions to understand the user's feelings\n- Validate emotions and experiences\n- Suggest specific activities based on user needs\n- Encourage progress tracking and self-reflection\n- For severe cases, recommend professional consultation\n- Maintain a positive, hopeful tone"
        }
      },
      "id": "67afd147-25b0-405a-81e0-58bbee045fd4",
      "name": "Chat AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1056,
        1184
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1408,
        1392
      ],
      "id": "7c1494e3-361e-47b7-a819-2f7d986d1c8e",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "authentication": "predefinedCredentialType",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -816,
        1088
      ],
      "id": "7c67833b-fd92-4cae-83ea-88c8dd47279f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "text": "Hey! Can I Help You",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -912,
        1392
      ],
      "id": "c25449e2-c762-4047-b3a4-0565bf0aaed9",
      "name": "AI Agent Tool"
    },
    {
      "parameters": {
        "options": {
          "mainGpu": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1056,
        1453.170682388545
      ],
      "id": "202cd3ab-1131-419f-bc22-edfb500a14c3",
      "name": "Ollama Chat Model",
      "notesInFlow": true,
      "credentials": {
        "ollamaApi": {
          "id": "zuKoUMcRajTqAzti",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -752,
        1600
      ],
      "id": "80fba211-3fac-47b6-a850-08e128991c9a",
      "name": "Call n8n Workflow Tool",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.session_id || \"default_session\"}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -880,
        1600
      ],
      "id": "7085602a-8cb9-481e-bfa3-01dbf720147a",
      "name": "Simple Memory2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chat AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Chat AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9dbd75c-35fd-486b-8b2b-481f9a9e79ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8d34184d562231152a062016d5e99ebe39b5ba2eb766ec6df8f6a85525d44c8"
  },
  "id": "ibE1WCaYoJwo8Zyc",
  "tags": []
}